org_id = "123456789000"
admin_project_id = "terraform-admin"
credentials_file_path = "~/.config/gcloud/terraform-123456789000.json"
credentials_gsuite_file_path = "~/.config/gcloud/terraform-123456789000.json"
credentials_gsuite_impersonated_user_email = "superuser@domain.com"
host_project_id = "org-shared-net"
images_project_id = "org-shared-img"