region = "australia-southeast1"
credentials_file_path = "~/.config/gcloud/terraform-123456789000.json"
host_project_id = "org-shared-net"
shared_network_name = "org-shared-net-int-vpc"
service_project_gce_id = "org-app1-vm-dev-123456"
service_project_gke_id = "org-app1-gke-dev-123456"
